*__pycache__*
.venv/
*.BIN
data/*/spectra/
data/*/results/
data/Sodankyla/SN039/results/*
prf/*
*subl*
./Logfile.txt
Logfile.txt
*pT*
data/
*.yml
*.egg-info/
build/
example/*
prfpylot/templates/template_preprocess4_old.inp
Notes_Besprechung.txt
desktop.ini
GeneralLogfile.log
.vscode/launch.json
prfpylot/ILSListeConverter/*
